*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: gray;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{
    width: 150px;
    padding: 20px;

}
.menus{
    display: flex;
}
.idems{
    
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
    
}
.idems:hover{
    color: blue;

}